.menuItem{
  font-size:15px;
  font-weight: normal;
}
  ul.header-navigation-links {
  list-style-type: none;
}
.card-body{
  margin-left: 15px;
}

.accordion-button{
  color:#17a2b8;
  background-color: white !important; 
  box-shadow: none !important; 
}

.accordion-button.collapsed{
  color:gray ;
  background-color: white !important; 
  box-shadow: none !important; 
}

.accordion-button.collapsed:hover{
  color:black ;  
}

.accordion-title{
  font-size: 22px !important;
  letter-spacing: 2px;
  font-weight: 500 !important;
}

.vl {
  border-left: 2px solid #17a2b8;
  height: 250px;
}