.header{
  margin-bottom: 80px !important;
}

.nav-element{
  color: #5b9bd5;
}

.menuItem{
  font-size:15px;
  font-style: italic;
  font-weight: normal;
}
  
.card-body{
  margin-left: 15px;
}

.accordion-button{
  color:#5b9bd5;
  background-color: white !important; 
  box-shadow: none !important; 
}

.accordion-button.collapsed{
  color:gray ;
  background-color: white !important; 
  box-shadow: none !important; 
}

.accordion-button.collapsed:hover{
  color:black ;  
}



.accordion-title{
  font-size: 22px !important;
  letter-spacing: 2px;
  font-weight: 500 !important;
}

.vl {
  border-right: 2px solid #FFFFFF ; 

  
}



.hl{
  border-bottom: 2px solid #5b9bd5;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
 
}

.active-tab{
  font-size: 22px !important;
  letter-spacing: 2px;
  font-weight: 500 !important;
  color:#5b9bd5;
  
}

.card-view {
  border: none !important;
}

.link{
  color: orangered;
  font-weight: 650;
  text-decoration: underline;
}

.line
{
border-bottom:2px solid #5b9bd5;
padding-bottom:15px; 
position:relative;
width: 100%;
height: 20px;
visibility: hidden;
}

.line:after 
{ 
position:absolute; 
bottom:-6px; 
left:0; 
height:10px; 
width:10px; 
background:#5b9bd5; 
content:""; 
border-radius:5px;
margin-right: -6px;
}

.line:after 
{
  right:0; 
  left:auto;
}


.main-content{
  padding: 3%;
  visibility: hidden;
}


.blog-content p {
  font-size: 15px;
  margin-bottom: 6px;
  font-weight: 500;
}


.center-components {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.card-nav .card-header{
  padding-bottom: 0 ; 
} 

.card-nav .card-header button{
  padding-bottom: 0 ;
  font-size: 24px ;
}

.card-nav .collapse .card-body{
  padding-top: 0 ;
  padding-bottom: 0 ;
}

.card-nav .collapse .card-body .lead {
  margin-bottom: 0;
  font-style: italic;
  color: #6c757d!important;
  font-weight: 350!important;
  font-size: 20px ;
}

.card-nav .card-header{
  border: none;
}

.nav2-style{
  margin-bottom: 0;
  visibility: hidden;
  font-weight: 600 !important;
  font-size: 23px !important;
 
}

.nav2-sub-style{
  font-size: 18px !important;
  font-weight: 350 !important;
  font-style: italic;
}

#home-nav .nav-item .nav-link {
color: #5b9bd5 ;
}

#home-nav .nav-item .nav-link:hover {
  color: #0a84f7 ;
  }

#top-button{
 background-color: #F57A27;
 width: 20% !important;
}

#top-button2{
  width: 20% !important;
  background-color: #5b9bd5;
}

/***********************************************/
/* Media Queries*/


@media (min-width: 325px) {  

  .headerimg{
  width: 30%;
  margin-top: 8px;

  }
  #top-button{
  width: auto !important;
  }

  #top-button2{
    width: auto !important;
  }
  /*Home.html*/
  #homecontent{
    font-size: 15px !important;
  }
  #flash-wrap-content{
    font-size: 28px !important;
  }
  #flash-wrap-subcontent{
    font-size: 18px !important;
   }
   #home-nav .nav-item .nav-link h3{
    font-size: 18px !important;
  }


  /*offerings.html*/
  #productmanagementprototyping{
    font-size: 13px;
  }

  #DevelopmentWebMobileCloud{
    font-size: 13px;
  }
  #Technologies{
    font-size: 13px;
  }

  .card-nav .collapse .card-body .lead{
    font-size: 14px;
  }

  .accordion-title{
    font-size: 18px !important;
  }

  #blog-link {
    font-size: 14px !important;
  }

}




@media (min-width: 544px) {  

    .headerimg{
      width: 26%;
    }
    #top-button{
      width: 20% !important;
    }

    
  #top-button2{
    width: 20% !important;
  }
      /*Home.html*/
  #homecontent{
    font-size: 16px !important;
  }
  #flash-wrap-content{
    font-size: 38px !important;
  }
  #flash-wrap-subcontent{
    font-size: 20px !important;
   }
   #home-nav .nav-item .nav-link h3{
    font-size: 20px !important;
  }



    /*offerings.html*/
    #productmanagementprototyping{
      font-size: 14px;
    }
  
    #DevelopmentWebMobileCloud{
      font-size: 14px;
    }
    #Technologies{
      font-size: 14px;
    }
  
    .card-nav .collapse .card-body .lead{
      font-size: 14px;
    }
  
    .accordion-title{
      font-size: 18px !important;
    }

    #blog-link {
      font-size: 14px !important;
    }
}
 




/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 

  .headerimg{
    width: 26%;
  }
  #top-button{
    width: 20% !important;
  }
  #top-button2{
    width: 20% !important;
  }
  /*Home.html*/
   #homecontent{
     font-size: 18px !important;
   }
  
   #flash-wrap-content{
    font-size: 48px !important;
  }
  #flash-wrap-subcontent{
    font-size: 20px !important;
   }

   #home-nav .nav-item .nav-link h3{
     font-size: 25px !important;
   }


     /*offerings.html*/
  #productmanagementprototyping{
    font-size: 15px;
  }

  #DevelopmentWebMobileCloud{
    font-size: 15px;
  }
  #Technologies{
    font-size: 15px;
  }

  .card-nav .collapse .card-body .lead{
    font-size: 16px;
  }

  .accordion-title{
    font-size: 20px !important;
  }

  #blog-link {
    font-size: 15px !important;
  }
}
 



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
  

 /*Home.html*/
 #homecontent{
  font-size: 21px !important;
  }

  #flash-wrap-content{
 font-size: 58px !important;
  }
  #flash-wrap-subcontent{
 font-size: 30px !important;
  }

  #home-nav .nav-item .nav-link h3{
  font-size: 30px !important;
  }

      /*offerings.html*/
      #productmanagementprototyping{
        font-size: 16px;
      }
    
      #DevelopmentWebMobileCloud{
        font-size: 16px;
      }
      #Technologies{
        font-size: 16px;
      }
    
      .card-nav .collapse .card-body .lead{
        font-size: 20px;
      }
      .card-nav .card-header button{
        font-size: 23px !important;
      }
    
      .accordion-title{
        font-size: 25px !important;
      }

      #blog-link {
        font-size: 15px !important;
      }
}

 

 